# ==========================================
# Python Virtual Environments
# ==========================================
.venv/
venv/
env/
voice-lab/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Logs
# ==========================================
LOGS/

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# Testing
# ==========================================
.pytest_cache/

# ==========================================
# Coverage
# ==========================================
.coverage
htmlcov/

# ==========================================
# Python Packages / Builds
# ==========================================
*.egg-info/
dist/
build/

# ==========================================
# Machine Learning / TTS Model Files
# ==========================================
*.pt
*.pth
*.ckpt
*.bin